<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Order page</title>
    </head>
    <body>
        <nav>
            <ul>
                <li sec:authorize="hasAnyRole('USER','ADMIN','BOOSTER')">
                    <a href="/account">Account page</a>
                </li>
                <li>
                    <a href="/order/">Order page</a>
                </li>
            </ul>
        </nav>

        <form th:action="@{informationAboutAccount}" th:object="${orderBoost}" >
            <input th:field="*{lolUsername}"  placeholder="LoL Username" />
            <input th:field="*{lolPassword}" placeholder="LoL Password" />
            <select th:field="*{region}" id="region">
                <option th:each="region : ${listOfRegions}" th:value="${region}" th:text="${region}"></option>
            </select>
            <textarea th:field="*{noteToBoosters}" placeholder="Message to the booster" />
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>