<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Order division</title>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10%;
            }
        </style>
        <link rel="stylesheet" th:href="@{/style/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/style/drop-down-nav.css}"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/">Boosting</a>
                    </li>
                    <li class="nav-item" sec:authorize="${isAnonymous()}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropbtn" href="/admin">Admin resources</a>
                        <div class="dropdown-content">
                            <a href="/admin/listOfOrders">List of orders</a>
                            <a href="/admin/listOfUsers">List of users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/booster" sec:authorize="hasRole('BOOSTER')">Booster resources</a>
                        <div class="dropdown-content">
                            <a href="/booster/listOfFreeOrders">List of free orders</a>
                            <a href="/booster/currentBoost">Current boost</a>
                            <a href="/booster/doneOrderBoosts">Done order boosts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/account" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Account</a>
                        <div class="dropdown-content">
                            <a href="/account/showChangePasswordPage">Change Password</a>
                            <a href="/account/showEmailChangePage">Change Email</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/message" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Messages</a>
                        <div class="dropdown-content">
                            <a href="/message">Send Message</a>
                            <a href="/message/retrieve">Retrieve message</a>
                        </div>
                    </li>
                </ul>
                <div sec:authorize="${isFullyAuthenticated()}">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary btn-sm" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </nav>
        <img th:src="@{/images/Bronze/Bronze1.png}"/>
        <button class="btn btn-secondary" onclick="upCurrentTier()">Increase current tier</button>
        <button class="btn btn-secondary" onclick="downCurrentTier()">Decrease current tier</button>
        <button class="btn btn-secondary" onclick="leftCurrentTier()">Decrease current division</button>
        <button class="btn btn-secondary" onclick="rightCurrentTier()">Increase current division</button>
        <img class="center" id="currentTier">
        <button class="btn btn-secondary" onclick="upDestinationTier()">Increase destination tier</button>
        <button class="btn btn-secondary" onclick="downDestinationTier()">Decrease destination tier</button>
        <button class="btn btn-secondary" onclick="leftDestinationTier()">Decrease destination division</button>
        <button class="btn btn-secondary" onclick="rightDestinationTier()">Increase destination division</button>
        <img class="center" id="destinationTier">

        <a href="/order/informationAboutDivision" onclick="createDestinationTierAndDivisionCookie()">Complete information about your account</a>
        <script>
            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if(this.status === 200){
                    temp = JSON.parse(this.responseText);
                    const conversation = JSON.parse(this.responseText);
                    var defaultCurrentTier = conversation[21]['img_source'];
                    var defaultDestinationTier = conversation[17]['img_source'];
                    document.getElementById('currentTier').setAttribute("src",defaultCurrentTier);
                    document.getElementById('destinationTier').setAttribute("src",defaultDestinationTier);
                }
            }
            xhr.open('GET','./Order',true);
            xhr.send();
        </script>

        <script>
            function upCurrentTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('currentTier').src.toString();
                        let temp3 = conversation.filter(data => data.img_source);
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var tier = parseInt(op[0]['tier_id']);
                        if(tier === 1){
                            let temp2 = conversation.filter(data => data.tier_id === 6 && data.division_id === parseInt(op[0]['division_id']));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']-1) && data.division_id == parseInt(op[0]['division_id']));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }

                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }
            function upDestinationTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('destinationTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var tier = parseInt(op[0]['tier_id']);
                        if(tier === 1){
                            let temp2 = conversation.filter(data => data.tier_id === 6 && data.division_id === parseInt(op[0]['division_id']));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']-1) && data.division_id == parseInt(op[0]['division_id']));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function downCurrentTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('currentTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var tier = parseInt(op[0]['tier_id']);
                        if(tier === 6){
                            let temp2 = conversation.filter(data => data.tier_id === 1 && data.division_id === parseInt(op[0]['division_id']));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']+1) && data.division_id == parseInt(op[0]['division_id']));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function downDestinationTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('destinationTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var tier = parseInt(op[0]['tier_id']);
                        if(tier === 6){
                            let temp2 = conversation.filter(data => data.tier_id === 1 && data.division_id === parseInt(op[0]['division_id']));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']+1) && data.division_id == parseInt(op[0]['division_id']));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function leftCurrentTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('currentTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var division = parseInt(op[0]['division_id']);
                        if(division ===4 && parseInt(op[0]['tier_id'])===6 ){
                            let temp2 = conversation.filter(data => data.tier_id == 1 && data.division_id == 1);
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else if(division === 4){
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']+1) && data.division_id == 1);
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }

                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']) && data.division_id == parseInt(op[0]['division_id']+1));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function leftDestinationTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('destinationTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var division = parseInt(op[0]['division_id']);
                        if(division ===4 && parseInt(op[0]['tier_id'])===6 ){
                            let temp2 = conversation.filter(data => data.tier_id == 1 && data.division_id == 1);
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else if(division === 4){
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']+1) && data.division_id == 1);
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }

                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']) && data.division_id == parseInt(op[0]['division_id']+1));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function rightCurrentTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('currentTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var division = parseInt(op[0]['division_id']);
                        if(division ===1 && parseInt(op[0]['tier_id'])===1 ){
                            let temp2 = conversation.filter(data => data.tier_id == 6 && data.division_id == 4);
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else if(division === 1){
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']-1) && data.division_id == 4);
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }

                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']) && data.division_id == parseInt(op[0]['division_id']-1));
                            document.getElementById('currentTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }

            function rightDestinationTier() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if(this.status === 200){
                        const conversation = JSON.parse(this.responseText);
                        var temp = document.getElementById('destinationTier').src.toString();
                        let op = conversation.filter(data => "http://localhost:8090"+data.img_source == temp);
                        var division = parseInt(op[0]['division_id']);
                        if(division ===1 && parseInt(op[0]['tier_id'])===1 ){
                            let temp2 = conversation.filter(data => data.tier_id == 6 && data.division_id == 4);
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                        else if(division === 1){
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']-1) && data.division_id == 4);
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }

                        else {
                            let temp2 = conversation.filter(data => data.tier_id == parseInt(op[0]['tier_id']) && data.division_id == parseInt(op[0]['division_id']-1));
                            document.getElementById('destinationTier').setAttribute("src",temp2[0]['img_source']);
                        }
                    }
                }
                xhr.open('GET','./Order',true);
                xhr.send();
            }
        </script>

        <script>
            function createDestinationTierAndDivisionCookie() {
                var d = new Date();
                d.setTime(d.getTime()+(24 * 60 *60*1000));
                var expires = "expires="+d.toUTCString();
                var currentTierImageSource = document.getElementById('currentTier').src.toString().replace("http://localhost:8090","");
                document.cookie = "currentTierImageSource ="+ currentTierImageSource+";"+expires+";";
                var destinationTierImageSource = document.getElementById('destinationTier').src.toString().replace("http://localhost:8090","");
                document.cookie = "destinationTierImageSource ="+ destinationTierImageSource+";"+expires+";";
            }
        </script>
    </body>
</html>