<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Change password</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/account/change-password.css}" />
    </head>
    <body layout:fragment="content">
        <section class="login-form">
            <div class="wrap">
                <h1>Change Password</h1>
                <form th:action="@{/account/change/password/form}" method="get">
                    <div class="form-group">
                        <input id="currentPassword" name="currentPassword" type="password" class="form-control" required="">
                        <label class="animated-label" for="currentPassword">Current password</label>
                    </div>

                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control" required="">
                        <label class="animated-label" for="password">Password</label>
                    </div>

                    <div class="form-group">
                        <input id="repeatPassword" name="repeatPassword" type="password" class="form-control" required="">
                        <label class="animated-label" for="repeatPassword">Repeat password</label>
                    </div>

                    <input class="button" type="submit" value="Submit" />
                </form>
            </div>
        </section>
    </body>
</html>