<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Change email</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/account/change-email.css}" />
    </head>
    <body layout:fragment="content">
        <section class="login-form">
            <div class="wrap">
                <h1>Change Email</h1>
                <form th:action="@{/account/change/email/form}" method="get">
                    <div class="form-group">
                        <input id="currentEmail" name="currentEmail" type="email" class="form-control" required="">
                        <label class="animated-label" for="currentEmail">Current email</label>
                    </div>

                    <div class="form-group">
                        <input id="email" name="email" type="email" class="form-control" required="">
                        <label class="animated-label" for="email">Email</label>
                    </div>

                    <div class="form-group">
                        <input id="repeatEmail" name="confirmEmail" type="email" class="form-control" required="">
                        <label class="animated-label" for="repeatEmail">Repeat email</label>
                    </div>

                    <input class="button" type="submit" value="Submit" />
                </form>
            </div>
        </section>
    </body>
</html>