<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/account/login.css}" />
    </head>

    <body layout:fragment="content">
        <div th:if="${token != null}" class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0" th:text="${token}"></p>
        </div>

        <div th:if="${confirmEmailMessage != null}" class="alert alert-dismissible alert-primary">
            <p th:text="${confirmEmailMessage}"></p>
        </div>

        <div class="alert alert-dismissible alert-primary" sec:authorize="hasAuthority('CONFIRMATION_EMAIL_PRIVILEGE')">
            <p>Your account has been activated</p>
        </div>

        <section class="login-form">
            <div class="wrap">
                <h1>Account Login</h1>

                <div id="login-error" th:text="${errorMessage}"></div>

                <form th:action="@{/authenticateTheUser}" method="POST">
                    <div class="form-group">
                        <input id="username" name="username" type="text" class="form-control" required="">
                        <label class="animated-label" for="username">Username</label>
                    </div>

                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control password" required="">
                        <label class="animated-label" for="password">Password</label>
                        <span class="far fa-eye-slash password"></span>
                        <p class="capslockDetectedMessage">Caps lock is ON!</p>
                    </div>

                    <input id="login-button" class="button" type="submit" value="Login" />
                </form>

                <p class="register">Don't have an account yet? <a href="/register">Click here</a> to create one and enjoy our Loyalty Program!</p>
                <p>Do not you remember the password? <a href="/account/remind/password">Click here</a> to remember them.</p>
            </div>
        </section>

        <script src="../js/showOrHidePassword.js"></script>
        <script src="/js/notifications.js"></script>
        <script src="/js/account/login-error.js"></script>
        <script src="/js/account/capslock-detector.js"></script>
    </body>
</html>