<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Register</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/account/register.css}" />
    </head>

    <body layout:fragment="content">
        <p th:if="${user.getCreationErrorMessage() != null}" th:text="${user.getCreationErrorMessage()}"></p>
        <section class="login-form">
            <div class="wrap">
                <h1>Create new account</h1>

                <form th:action="@{/register}" th:object="${user}"  method="post">
                    <div class="form-group">
                        <input id="username" th:field="*{username}" type="text" class="form-control" required="">
                        <label class="animated-label" for="username">Username</label>
                        <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>

                    <div class="form-group">
                        <input id="password" th:field="*{password}" type="password" class="form-control password" required="">
                        <label class="animated-label" for="password">Password</label>
                        <span class="far fa-eye-slash password"></span>
                        <p class="capslockDetectedMessage">Caps lock is ON!</p>
                        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>

                    <div class="form-group">
                        <input id="confirmPassword" name="confirmPassword" type="password" class="form-control password" required="">
                        <label class="animated-label" for="confirmPassword">Confirm Password</label>
                        <span class="far fa-eye-slash password"></span>
                        <p class="capslockDetectedMessage">Caps lock is ON!</p>
                    <!--<p class="error" th:text="${confirmPasswordErrorMessage}"></p> -->
                    </div>

                    <div class="form-group">
                        <input id="email" th:field="*{email}" type="text" class="form-control" required="">
                        <label class="animated-label" for="email">E-mail</label>
                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <input class="button" type="submit" value="Register" />
                </form>

                <p class="login"> Already have an account? Click to <a href="/login">Sign In</a></p>
            </div>
        </section>

        <script src="/js/showOrHidePassword.js"></script>
        <script src="/js/account/capslock-detector.js"></script>
    </body>
</html>