<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Orders to take</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/order/freeOrders.css}" />
    </head>

    <body layout:fragment="content">
        <main id="free-orders">
            <section class="free-order" th:each="order : ${freeOrders}">
                <h1 th:text="${order.queueType.name}"></h1>

                <div class="show-details">
                    <i class="fas fa-caret-down"></i>
                </div>

                <section class="images">
                    <div class="wrap-image">
                        <img src="../images/Iron/Iron4.png" alt="Started league image">
                        <p class="league">
                            <span th:text="${order.currentLeagueDto.tier.name} + ' '"></span>
                            <span th:text=" ${order.currentLeagueDto.division.name}"></span>
                        </p>
                    </div>

                    <div class="right-arrow">
                        <span>></span>
                    </div>

                    <div class="wrap-image">
                        <img src="../images/Iron/Iron4.png" alt="Desire league image">
                        <p class="league">
                            <span th:text="${order.destinationLeagueDto.tier.name} + ' '"></span>
                            <span th:text=" ${order.destinationLeagueDto.division.name}"></span>
                        </p>
                    </div>
                </section>

                <div class="region">
                    <p>Region</p>
                    <div class="form-group">
                        <input id="region" readonly="readonly" />
                        <label for="region" th:text=" ${order.accountDetails.region}"></label>
                    </div>
                </div>

                <div class="price">
                    <p>Price</p>

                    <div class="form-group">
                        <input id="price" readonly="readonly" />
                        <label for="price">60</label>
                    </div>
                </div>

                <section class="details">
                    <div class="username">
                        <p>Username</p>
                        <div class="form-group">
                            <input id="username" readonly="readonly" />
                            <label for="username" th:text="${order.accountDetails.lolUsername}"></label>
                        </div>
                    </div>

                    <div class="note-to-booster">
                        <p>Note to booster</p>
                        <div class="form-group">
                            <input id="note-to-booster" readonly="readonly" />
                            <label for="note-to-booster" th:text="${order.noteToBooster}"></label>
                        </div>
                    </div>
                </section>
            </section>
        </main>

        <script src="/js/order/order-list.js"></script>
    </body>
</html>