<footer>
    <div class="wrap">
        <div class="text">
            <h1>Boosting</h1>
        </div>
        <nav class="footer-navigation">
            <div class="customer">
                <h2>Customer</h2>
                <a href="/order">Order Now</a>
                <a href="/booster-application">Join Our Team</a>
            </div>
            <div class="pages">
                <h2>Pages</h2>
                <a href="#">F.A.Q.</a>
                <a href="/contact-us">Contact Us</a>
                <a href="#">Terms And Conditions</a>
            </div>
        </nav>
    </div>
</footer>