@import "../utils/utils" , "../utils/header", "../utils/footer";

@include basic-settings;

/* Section 1 - Change password form */

.login-form {
  @include main;

  & div.wrap {
    @include wrap;

    & h1 {
      @include h1;
    }

    & label {
      @include label;
    }

    & p {
      @include p;

      & a {
        @include a;
      }
    }

    & input.button{
      @include button;
    }

    & .form-group{
      @include form-group(auto);

      & .animated-label{
        @include animated-label;
      }

      & input:focus,
      & textarea:focus{
        @include input-border-style;
      }
    }

    & input.form-control,
    & .custom-select{
      @include custom-select;
    }

    & textarea.form-control{
      @include textarea;
    }

    & .form-control:focus ~ .animated-label,
    & .form-control:valid ~ .animated-label{
      @include animated-label-focus-and-valid;
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .login-form {
    padding: 10% 5%;

    & div.wrap {
      padding: 2.5% 5%;

      & h1 {
        padding: 5% 0;
        font-size: 26px;
      }

      & p {
        padding: 7.5% 0 5%;
        font-size: 18px;
      }
    }
  }
}


@media (orientation: landscape) and (min-width: 550px) {
  .login-form {
    padding: 10% 5%;

    & div.wrap{
      & h1 {
        padding: 5% 0;
      }

      & p {
        padding: 7.5% 0 5%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .login-form {
    padding: 5% 15%;

    & div.wrap{
      padding: 2.5% 10%;

      & h1 {
        font-size: 28px;
      }

      & p {
        font-size: 18px;

        & a:hover {
          border: none;
        }
      }

      & input.button:hover {
        @include button-hover;
      }
    }
  }
}

@media (min-width: 1300px) {
  .login-form {
    padding: 5% 25%;

    & div.wrap{
      & h1 {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .login-form {
    padding: 5% 30%;
  }
}