@import "../utils/utils" , "../utils/header", "../utils/footer";

/* Section 1 - Change password form */

.login-form {
  @include main;

  & div.wrap {
    @include wrap;

    & h1 {
      @include h1;
    }

    & label {
      @include label;
    }

    & p {
      @include p;

      & a {
        @include a;
      }
    }

    & input.form-control {
      @include form-control;
    }

    & input.button{
      @include button;
    }
  }
}

.form-group {
  @include display-flex-column;
}

@media (orientation: portrait) and (min-width: 768px) {
  .login-form {
    padding: 10% 5%;

    & div.wrap {
      padding: 2.5% 5%;

      & input.form-control {
        width: 80%;
        height: 50px;
        font-size: 18px;
      }

      & label {
        margin-left: 10%;
        font-size: 18px;
      }

      & h1 {
        padding: 5% 0;
        font-size: 26px;
      }

      & p {
        padding: 7.5% 0 5%;
        font-size: 18px;
      }
    }
  }
}


@media (orientation: landscape) and (min-width: 550px) {
  .login-form {
    padding: 10% 5%;

    & div.wrap{
      & input.form-control {
        width: 85%;
        height: 45px;
      }

      & label {
        margin-left: 7.5%;
      }

      & h1 {
        padding: 5% 0;
      }

      & p {
        padding: 7.5% 0 5%;
      }
    }
  }
}

@media (min-width: 1024px) {
  section.login-form div.wrap label {
    font-size: 18px;
  }

  .login-form {
    padding: 5% 15%;

    & div.wrap{
      padding: 2.5% 10%;

      & h1 {
        font-size: 28px;
      }

      & p {
        font-size: 18px;

        & a:hover {
          border: none;
        }
      }

      & input.button:hover {
        @include button-hover;
      }

      & input.form-control {
        margin: 1.25% auto 2.5%;
        font-size: 18px;
        transition: 0.2s linear;

        &:focus {
          border: 1.5px solid $blue-color;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .login-form {
    padding: 5% 25%;

    & div.wrap{
      & h1 {
        font-size: 32px;
      }

      & input.form-control {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .login-form {
    padding: 5% 30%;
  }
}