<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Booster page</title>
    </head>
    <body>
        <nav>
            <ul>
                <li sec:authorize="hasAnyRole('USER','ADMIN','BOOSTER')">
                    <a href="/account">Account page</a>
                </li>
                <li sec:authorize="hasRole('BOOSTER')">
                    <a href="/booster">Booster page</a>
                </li>
                <li>
                    <a href="/order/">Order page</a>
                </li>
            </ul>
        </nav>
        <h1>Booster Page</h1>
        <div>
            <a href="/booster/listOfFreeOrders">List of free orders</a>
        </div>
        <div>
            <a href="/booster/currentBoost">Current boost</a>
        </div>
        <div>
            <a href="/booster/doneOrderBoosts">Done order boosts</a>
        </div>
        <p th:text="${addingBoostMessage}"></p>
        <p th:text="${finishingBoostMessage}"></p>
    </body>
</html>