<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Account page</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/bootstrap.min.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/drop-down-nav.css}" />

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/">Boosting</a>
                    </li>
                    <li class="nav-item" sec:authorize="${isAnonymous()}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropbtn" href="/admin">Admin resources</a>
                        <div class="dropdown-content">
                            <a href="/admin/listOfOrders">List of orders</a>
                            <a href="/admin/listOfUsers">List of users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/booster" sec:authorize="hasRole('BOOSTER')">Booster resources</a>
                        <div class="dropdown-content">
                            <a href="/booster/listOfFreeOrders">List of free orders</a>
                            <a href="/booster/currentBoost">Current boost</a>
                            <a href="/booster/doneOrderBoosts">Done order boosts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/account" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Account</a>
                        <div class="dropdown-content">
                            <a href="/account/showChangePasswordPage">Change Password</a>
                            <a href="/account/showEmailChangePage">Change Email</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/message" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Messages</a>
                    </li>
                </ul>
                <div sec:authorize="${isFullyAuthenticated()}">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary btn-sm" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </nav>
        <h2>AccountPage</h2>
    </body>
</html>