<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Account page</title>
    </head>
    <body>
        <nav>
            <ul>
                <li sec:authorize="hasAnyRole('USER','ADMIN','BOOSTER')">
                    <a href="/account">Account page</a>
                </li>
                <li sec:authorize="hasRole('BOOSTER')">
                    <a href="/booster">Booster page</a>
                </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/admin">Admin page</a>
                    </li>
                <li>
                    <a href="/order/">Order page</a>
                </li>
            </ul>
        </nav>
        <h2>AccountPage</h2>
        <a href="/account/showChangePasswordPage">Change Password</a>
        <a href="/account/showEmailChangePage">Change Email</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
        <a href="/message">Send message</a>
        <a href="/message/retrieve">Retrieve message</a>
    </body>
</html>