<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto&display=swap&subset=latin-ext"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script:600&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" th:href="@{/style/header.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/login-style.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/footer.css}" />
    </head>
    <body>
        <nav class="background">
            <aside>
                <nav class="navigation">
                    <ul>
                        <li>
                            <a href="/">
                                <div class="height">Home</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/order/">
                                <div class="height">Boosting</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/booster-application">
                                <div class="height">Join our team</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/contact-us">
                                <div class="height">Contact us</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="height">F.A.Q</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li sec:authorize="${isAnonymous()}">
                            <a href="/login">
                                <div class="height">Login</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li sec:authorize="${isFullyAuthenticated()}">
                            <form th:action="@{/logout}" method="post">
                                <a class="height">
                                    <input  type="submit" value="Logout" />
                                </a>
                            </form>
                            <div class="border">
                                <div></div>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">
                            <a href="/account">
                                <div class="height">Account</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="burger">
                <i class="fas fa-bars show"></i>
                <i class="fas fa-times"></i>
            </div>
        </nav>
        <header>
            <p>We believe that we are able to provide each of you with the rank you deserved.</p>
            <a href="/order/">Boost Me</a>
        </header>
        <div th:if="${token != null}" class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0" th:text="${token}"></p>
        </div>
        <div th:if="${confirmEmailMessage != null}" class="alert alert-dismissible alert-primary">
            <p th:text="${confirmEmailMessage}"></p>
        </div>
        <div class="alert alert-dismissible alert-primary" sec:authorize="hasAuthority('CONFIRMATION_EMAIL_PRIVILEGE')">
            <p>Your account has been activated</p>
        </div>
        <section class="login-form">
            <div class="wrap">
                <h1>Account Login</h1>
                <form th:action="@{/authenticateTheUser}" method="POST">
                    <div class="form-group">
                        <label for="exampleInputUsername">E-mail Address or Username</label>
                        <div class="input">
                        <input id="exampleInputUsername" name="username" type="text" class="form-control" placeholder="Login">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <div class="input">
                        <input id="exampleInputPassword" name="password" type="password" class="form-control password" placeholder="Password">
                            <span class="far fa-eye-slash password"></span>
                        </div>
                    </div>
                    <input class="button" type="submit" value="Login" />
                </form>
                <p class="register">Don't have an account yet? <a href="/register">Click here</a> to create one and enjoy our Loyalty Program!</p>
                <p>Do not you remember the password? <a href="/account/remind/password">Click here</a> to remember them.</p>
            </div>
        </section>
        <footer>
            <div class="wrap">
                <div class="text">
                    <h1>Boosting</h1>
                </div>
                <section>
                    <div class="customer">
                        <h2>Customer</h2>
                        <a href="/order/">Order Now</a>
                        <a href="/booster-application">Join Our Team</a>
                    </div>
                    <div class="pages">
                        <h2>Pages</h2>
                        <a href="#">F.A.Q.</a>
                        <a href="/contact-us">Contact Us</a>
                        <a href="#">Terms And Conditions</a>
                    </div>
                </section>
            </div>
        </footer>

        <script src="../js/navigation-animation-mobile.js"></script>
        <script src="../js/navigation-animation-desktop.js"></script>
        <script src="../js/showOrHidePassword.js"></script>
    </body>
</html>