<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Login page</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/bootstrap.min.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/drop-down-nav.css}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/">Boosting</a>
                    </li>
                    <li class="nav-item" sec:authorize="${isAnonymous()}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropbtn" href="/admin">Admin resources</a>
                        <div class="dropdown-content">
                            <a href="/admin/orders">List of orders</a>
                            <a href="/admin/users">List of users</a>
                            <a href="/admin/booster-candidates">Booster candidates</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/boost" sec:authorize="hasRole('BOOSTER')">Booster resources</a>
                        <div class="dropdown-content">
                            <a href="/boost/orders">List of free orders</a>
                            <a href="/boost/current">Current boost</a>
                            <a href="/boost/completed">Done order boosts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="#" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Account</a>
                        <div class="dropdown-content">
                            <a href="/account/change/password">Change Password</a>
                            <a href="/account/change/email">Change Email</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/message" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/booster-application">Booster application</a>
                    </li>
                </ul>
                <div sec:authorize="${isFullyAuthenticated()}">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary btn-sm" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </nav>
        <div th:if="${token != null}" class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0" th:text="${token}"></p>
        </div>
        <div th:if="${confirmEmailMessage != null}" class="alert alert-dismissible alert-primary">
            <p th:text="${confirmEmailMessage}"></p>
        </div>
        <div class="alert alert-dismissible alert-primary" sec:authorize="hasAuthority('CONFIRMATION_EMAIL_PRIVILEGE')">
            <p>Your account has been activated</p>
        </div>
        <h1 class="text-center">Login to your account</h1>
        <form th:action="@{/authenticateTheUser}" method="POST">
            <div class="form-group">
                <label for="exampleInputUsername">Login</label>
                <input name="username" type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login" />
        </form>
        <p>Don't have an account yet? <a href="/register">Click here</a> to create one and enjoy our Loyalty Program!</p>
        <p>Do not you remember the password? <a href="/account/remind/password">Click here</a> to remember them.</p>
    </body>
</html>