<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change password</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dancing+Script:600|Roboto&display=swap&subset=latin-ext" rel="stylesheet">
        <link type="text/css" rel="stylesheet" th:href="@{/style/utils/form-style.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/account/change-password.css}" />
    </head>
    <body>
        <nav class="background">
            <aside class="header-aside">
                <nav class="navigation">
                    <ul id="main-menu">
                        <li class="main-menu-li">
                            <a href="/" class="main-menu-link">Home</a>
                        </li>

                        <li id="boosting" class="main-menu-li">
                            <div class="account-wrap">
                                <div><a href="/order" class="move-right main-menu-link">Boosting</a></div>
                                <div class="arrow" sec:authorize="${isFullyAuthenticated()}">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>

                            <nav sec:authorize="hasAnyRole('USER','BOOSTER')" class="sub-menu-wrap">
                                <ul class="sub-menu">
                                    <li class="back-to-main-menu sub-menu-li">
                                        <a class="sub-menu-link">Back</a>
                                        <i class="fas fa-chevron-left"></i>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/order/preview" class="sub-menu-link">Overview</a>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a class="sub-menu-link">History</a>
                                    </li>
                                </ul>
                            </nav>
                        </li>

                        <li class="main-menu-li">
                            <a href="/booster-application" class="main-menu-link">Join our team</a>
                        </li>

                        <li class="main-menu-li">
                            <a href="/contact-us" class="main-menu-link">Contact us</a>
                        </li>

                        <li class="main-menu-li">
                            <a href="#" class="main-menu-link">F.A.Q</a>
                        </li>

                        <li sec:authorize="${isAnonymous()}" class="main-menu-li">
                            <a href="/login" class="main-menu-link">Login</a>
                        </li>

                        <li id="account" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')" class="main-menu-li">
                            <div class="account-wrap">
                                <div><a class="move-right main-menu-link">Account</a></div>
                                <div class="arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>

                            <nav class="sub-menu-wrap">
                                <ul class="sub-menu">
                                    <li class="back-to-main-menu sub-menu-li">
                                        <a class="sub-menu-link">Back</a>

                                        <i class="fas fa-chevron-left"></i>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/account/change/password" class="sub-menu-link">Change password</a>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/account/change/email" class="sub-menu-link">Change email</a>
                                    </li>

                                    <li sec:authorize="${isFullyAuthenticated()}" class="sub-menu-li">
                                        <form th:action="@{/logout}" method="post">
                                            <a class="sub-menu-link" >
                                                <input  type="submit" value="Logout" />
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </nav>
            </aside>

            <div class="burger">
                <i class="fas fa-bars show"></i>
                <i class="fas fa-times"></i>
            </div>
        </nav>

        <header class="order-header">
            <p>We believe that we are able to provide each of you with the rank you deserved.</p>
            <a href="/order">Boost Me</a>
        </header>

        <section class="login-form">
            <div class="wrap">
                <h1>Change Password</h1>
                <form th:action="@{/account/change/password/form}" method="get">
                    <div class="form-group">
                        <input id="currentPassword" name="currentPassword" type="password" class="form-control" required="">
                        <label class="animated-label" for="currentPassword">Current password</label>
                    </div>

                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control" required="">
                        <label class="animated-label" for="password">Password</label>
                    </div>

                    <div class="form-group">
                        <input id="repeatPassword" name="repeatPassword" type="password" class="form-control" required="">
                        <label class="animated-label" for="repeatPassword">Repeat password</label>
                    </div>

                    <input class="button" type="submit" value="Change password" />
                </form>
            </div>
        </section>

        <footer>
            <div class="wrap">
                <div class="text">
                    <h1>Boosting</h1>
                </div>

                <nav class="footer-navigation">
                    <div class="customer">
                        <h2>Customer</h2>
                        <a href="/order">Order Now</a>
                        <a href="/booster-application">Join Our Team</a>
                    </div>

                    <div class="pages">
                        <h2>Pages</h2>
                        <a href="#">F.A.Q.</a>
                        <a href="/contact-us">Contact Us</a>
                        <a href="#">Terms And Conditions</a>
                    </div>
                </nav>
            </div>
        </footer>

        <script src="/js/navigation/mobile.js"></script>
        <script src="/js/navigation/desktop.js"></script>
    </body>
</html>