/* Section 1 -Advantages */

.requirements h2::after,
.requirements h3::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #14a5eb;
    margin-bottom: 5%;
}

.advantages {
    display: flex;
    margin: 0 auto;
    padding: 15% 7.5% 0;
    flex-direction: column;
    background-color: #F6F6F6;
}

.advantages .advantage {
    margin-bottom: 10%;
    background-color: white;
    border: 10px white solid;
    border-radius: 10%;
}

.advantages .advantage .wrap-image {
    width: 90%;
    margin: 0 auto;
}

.advantages .advantage .wrap-image img {
    display: block;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5% auto 10%;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h2 {
    border: none;
    margin-bottom: 2.5%;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.advantages .advantage .text p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media (orientation: portrait) and (min-width: 768px) {
    .advantages {
        padding: 15% 5% 0;
    }

    .advantage {
        padding: 0 5%;
    }

    .text h2 {
        font-size: 22px;
    }

    .advantages .advantage .text p {
        font-size: 22px;
    }
}

@media (orientation: landscape) and (min-width: 550px) {
    .text h2 {
        font-size: 18px;
    }

    .advantages .advantage .text p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .advantages {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 10%;
    }

    .advantage {
        flex-basis: 45%;
    }

    .text h2 {
        font-size: 22px;
    }

    .advantages .advantage .text p {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .advantages {
        padding: 5% 2.5% 0;
    }

    .advantage {
        flex-basis: 22.5%;

    }

    .advantages .advantage {
        margin-bottom: 2.5%;
    }
}

/* Section 2 - Requirements */

.requirements {
    width: 100%;
    background-color: #F6F6F6;
    padding: 15% 7.5% 5%;
}

.requirements h1 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #14a5eb;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

.requirements .wrap {
    display: flex;
    flex-direction: column;
}

.requirements .wrap .booster,
.requirements .wrap .junior-booster {
    background-color: white;
    margin-bottom: 10%;
    border: 10px white solid;
    border-radius: 10%;
    padding: 2.5% 5% 5%;
}

.requirements .wrap h2 {
    text-transform: uppercase;
    padding-bottom: 1%;
    font-size: 18px;
}

.requirements .wrap p {
    padding-bottom: 2.5%;
    font-size: 14px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
}

.requirements .wrap .restrictions {
    padding-left: 5%;
    margin-top: 10%;
}

.requirements .wrap .restrictions h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 1%;
}

.requirements .wrap .restrictions p {
    font-weight: 400;
    padding-left: 2.5%;
}

@media (orientation: portrait) and (min-width: 768px) {
    .requirements .wrap {
        width: 75%;
        margin: 0 auto;
    }

    .requirements h1 {
        font-size: 34px;
    }

    .requirements .wrap h2 {
        font-size: 26px;
    }

    .requirements .wrap p {
        font-size: 20px;
    }

    .requirements .wrap .restrictions p {
        font-size: 20px;
    }

    .requirements .wrap .restrictions h3 {
        font-size: 24px;
    }
}

@media (orientation: landscape) and (min-width: 550px) {

    .requirements .wrap {
        width: 90%;
        margin: 0 auto;
    }

    .requirements h1 {
        font-size: 24px;
    }

    .requirements .wrap h2 {
        font-size: 20px;
    }

    .requirements .wrap p {
        font-size: 16px;
    }

    .requirements .wrap .restrictions p {
        font-size: 16px;
    }

    .requirements .wrap .restrictions h3 {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .requirements {
        padding-top: 5%;
    }

    .requirements .wrap {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .requirements .wrap .booster,
    .requirements .wrap .junior-booster {
        flex-basis: 45%;
        padding-bottom: 2.5%;
    }

    .requirements h1 {
        font-size: 38px;
    }

    .requirements .wrap h2 {
        font-size: 26px;
    }

    .requirements .wrap p {
        font-size: 20px;
    }

    .requirements .wrap .restrictions h3 {
        font-size: 24px;
    }

    .requirements .wrap .restrictions p {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .requirements .wrap .booster,
    .requirements .wrap .junior-booster {
        flex-basis: 40%;
    }

    section.requirements {
        padding-bottom: 0;
    }

    .requirements .wrap h1 {
        font-size: 40px;
    }

    .requirements .wrap h2 {
        font-size: 32px;
    }

    .requirements .wrap p {
        font-size: 22px;
    }

    .requirements .wrap .restrictions h3 {
        font-size: 28px;
    }

    .requirements .wrap .restrictions p {
        font-size: 22px;
    }

}

/* Section 3 - Job form */

section.login-form {
    background-color: #F6F6F6;
    padding: 20% 10%;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

section.login-form div.wrap {
    padding: 5% 10%;
    background-color: white;
    height: 100%;
    border: 10px white solid;
    border-radius: 10%;
}

section.login-form div.wrap h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    padding: 10% 0;
}

section.login-form div.wrap p {
    font-size: 14px;
    text-align: center;
    padding: 15% 0 10%;
}

section.login-form div.wrap p a {
    text-decoration: none;
    color: #14a5eb;
    border-bottom: 1px solid #14a5eb;
    letter-spacing: 0.5px;
    margin: 0 1%;
}

section.login-form div.wrap select.custom-select {
    width: 90%;
    height: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2.5% auto;
    border: 1px solid black;
}

section.login-form div.wrap select.custom-select {
    height: 55px;
    overflow: scroll;
    font-size: 18px;
}

section.login-form div.wrap input.button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
    height: 50px;
    margin: 10% auto 0;
    line-height: 50px;
    font-size: 20px;
    color: #181819;
    border-radius: 25px;
    border: 2px solid;
    text-align: center;
    background-color: white;
}

section.login-form div.wrap span.error {
    font-size: 10px;
    color: darkred;
    margin-left: 5%;
}

@media (orientation: portrait) and (min-width: 768px) {

    section.login-form div.wrap {
        padding: 2.5% 5%;
    }

    section.login-form div.wrap select.custom-select {
        width: 80%;
        max-width: 80%;
        height: 50px;
        font-size: 18px;
    }

    section.login-form div.wrap select.custom-select {
        height: 65px;
        overflow: scroll;
        font-size: 24px;
    }

    section.login-form {
        padding: 10% 5%;
    }

    section.login-form div.wrap h1 {
        padding: 5% 0;
        font-size: 26px;
    }

    section.login-form div.wrap input.button {
        margin: 2.5% auto 0;
        width: 65%;
        font-size: 28px;
    }

    section.login-form div.wrap p {
        padding: 7.5% 0 5%;
        font-size: 18px;
    }

    section.login-form div.wrap span.error {
        font-size: 14px;
        margin-left: 10%;
    }
}

@media (orientation: landscape) and (min-width: 550px) {

    section.login-form div.wrap select.custom-select {
        width: 85%;
        height: 45px;
    }

    section.login-form div.wrap select.custom-select {
        height: 60px;
    }

    section.login-form {
        padding: 10% 5%;
    }

    section.login-form div.wrap h1 {
        padding: 5% 0;
    }

    section.login-form div.wrap input.button {
        margin: 5% auto 0;
        width: 70%;
    }

    section.login-form div.wrap p {
        padding: 7.5% 0 5%;
    }

    section.login-form div.wrap span.error {
        font-size: 10px;
        margin-left: 7.5%;
    }
}

@media (min-width: 1024px) {

    section.login-form div.wrap p a:hover {
        border: none;
    }

    section.login-form div.wrap h1 {
        font-size: 28px;
    }

    section.login-form div.wrap p {
        font-size: 18px;
    }

    section.login-form {
        padding: 5% 15%;
    }

    section.login-form div.wrap input.button {
        margin: 2.5% auto 0;
        width: 60%;
        font-size: 26px;
        transition: 0.3s linear;
    }

    section.login-form div.wrap input.button:hover {
        background-color: #14a5eb;
        color: #f8f8ff;
        border: none;
        cursor: pointer;
    }

    section.login-form div.wrap {
        padding: 2.5% 10%;
    }

    section.login-form div.wrap span.error {
        font-size: 14px;
        margin-left: 7.5%;
    }
}

@media (min-width: 1300px) {
    section.login-form div.wrap h1 {
        font-size: 32px;
    }

    section.login-form {
        padding: 5% 30%;
    }

    section.login-form div.wrap input.button {
        font-size: 30px;
    }
}