* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Navigation */

nav.background {
    height: 100vh;
    background-image: url(/images/others/person.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.burger i {
    position: fixed;
    right: 5vh;
    top: 2.5vh;
    font-size: 30px;
    z-index: 3;
}

.burger:hover {
    cursor: pointer;
}

.header-aside {
    position: fixed;
    bottom: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #f8f8ff;
    transition: 0.3s linear;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #f8f8ff;
    transition: 0.3s linear;
    z-index: 10;
}

.show-sub-menu {
    left: 0;
}

.back-to-main-menu a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.back-to-main-menu {
    position: relative;
    width: 100%;
}

#account .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 0;
}

.header-aside nav {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    max-width: 1920px;
    margin: 0 auto;
}

.header-aside nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
}

.header-aside nav ul li {
    flex-basis: 10vh;
    width: 100%;
    line-height: 10vh;
}

#account {
    line-height: 6vh;
}

#account a {
    cursor: pointer;
}

#account p {
    line-height: 12px;
    font-size: 12px;
}

#account .icon-user {
    position: relative;
    width: 100%;
}

#account i {
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
}

#account i.fa-chevron-right {
    top: 50%;
    left: 85%;
}

#logout {
    margin-top: auto;
}

.header-aside nav ul li a {
    display: flex;
    font-size: 25px;
    text-decoration: none;
    color: #181819;
    height: 100%;
}

.header-aside nav ul li form {
    height: 100%;
}

.header-aside nav ul li form a.height input {
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

/* Burger icon change */

.fas {
    display: none;
}

i.show {
    display: block;
}

.header-aside.show {
    left: 0;
    z-index: 1;
}

.navigation {
    transition: 0.15s linear;
}

.nav-animation {
    background-color: rgba(20, 165, 235, 0.85);
    height: 10vh !important;
}

.color {
    color: #F8F8F8;
}

@media (min-width: 560px) {
    #account {
        line-height: 10vh;
    }
}

@media (min-width: 768px) {
    .header-aside nav ul li {
        flex-basis: 8vh;
        line-height: 8vh;
    }
}

@media (max-width: 1023px) {
    .header-aside nav ul li a {
        font-size: 24px;
    }

    .back-to-main-menu {
        color: #181819;
    }
}

@media (min-width: 1024px) {
    .header-aside nav ul li form a.height input {
        color: #F8F8F8;
        font-size: unset;
    }

    .burger {
        display: none;
    }

    #account .height {
        margin: 0;
    }

    #account a:hover ~ .sub-menu,
    .sub-menu:hover {
        display: block;
    }

    .sub-menu {
        left: auto;
        top: 10vh;
        background-color: transparent;
        width: 10vw;
        display: none;
        height: auto;
    }

    .sub-menu ul {
        display: block;
        width: 100%;
    }

    .sub-menu ul {
        margin-bottom: 10%;
    }

    .sub-menu li {
        margin: 10px 0;
    }

    .sub-menu li a {
        line-height: normal;
        font-size: 14px;
    }

    .header-aside {
        top: 0;
        left: 0;
        display: flex;
        height: 15vh;
        width: 100%;
        background-color: transparent;
        transition: 0.15s linear;
        z-index: 3;
    }

    nav {
        width: 100%;
    }

    .header-aside nav ul {
        flex-direction: row;
        padding: 0;
        margin: 0 auto;
        justify-content: space-around;
        width: 60vw;
    }


     .header-aside nav ul li {
        display: flex;
        justify-content: center;
        flex-basis: 10vw;
        line-height: unset;
        align-content: center;
    }

    .header-aside nav ul li a {
        position: relative;
        font-size: 16px;
        color: #f8f8ff;
        width: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.15s linear;
    }

    .header-aside nav ul li a:hover {
        color: #14a5eb;
    }

    .header-aside nav ul li a.transparent:hover {
        color: #f8f8f8;
    }

    .header-aside nav ul li a:hover > div.border div {
        left: 0;
    }

    .border {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: 20px;
        overflow: hidden;
    }

    .border div {
        position: absolute;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: #14a5eb;
        transition: 0.15s linear;
    }

    .border div.white {
        background-color: #f8f8ff;
    }

    .back-to-main-menu {
        display: none;
    }

    #account i.fa-chevron-right {
        display: none;
    }

    #account p {
        display: none;
    }
}

@media (min-width: 1280px) {
    .header-aside nav ul li a {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    .header-aside nav ul li a {
        font-size: 22px;
    }
}

/* Header */

.order-header {
    position: absolute;
    top: 80%;
    left: 50%;
    max-width: 1024px;
    transform: translate(-50%, -50%);
    color: #181819;
    width: 100%;
    transition: 0.15s linear;

}

.order-header p {
    font-size: 16px;
    text-align: center;
    color: #181819;
    padding-bottom: 20px;
    width: 75%;
    margin: 0 auto;
}

.order-header a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 20px;
    color: #181819;
    border-radius: 25px;
    border: 2px solid;
    text-align: center;
}

.hide {
    opacity: 0;
    left: 0%;
    z-index: 0;
}

@media (orientation: portrait) and (min-width: 360px) {
    .order-header p {
        font-size: 18px;
    }

    .order-header a {
        font-size: 22px;
    }
}

@media (orientation: portrait) and (min-width: 414px) {
    .order-header p {
        font-size: 20px;
    }

    .order-header a {
        font-size: 24px;
    }
}

@media (orientation: portrait) and (min-width: 414px) {
    .order-header p {
        font-size: 28px;
        width: 65%;
    }

    .order-header a {
        height: 75px;
        line-height: 75px;
        font-size: 32px;
        width: 65%;
    }
}

@media (orientation: landscape) and (min-width: 560px) {
    .order-header p {
        font-size: 24px;
    }

    .order-header a {
        font-size: 28px;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    .order-header p {
        font-size: 26px;
        width: 34%;
    }

    .order-header a {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .order-header {
        top: 80%;
        width: 45%;
    }

    .order-header p {
        font-size: 28px;
        margin-bottom: 0;
        width: 100%;
    }

    .order-header a {
        font-size: 32px;
        width: 50%;
        transition: 0.3s linear;
    }

    .order-header a:hover,
    .order-header a input:hover {
        background-color: #14a5eb;
        color: #f8f8ff;
        border: none;
    }
}

@media (min-width: 1600px) {
    .order-header {
        top: 80%;
        width: 35%;
    }

    .order-header p {
        font-size: 32px;
    }

    .order-header a {
        font-size: 36px;
        height: 75px;
        line-height: 75px;
        width: 50%;
        transition: 0.3s linear;
    }

    .order-header a:hover {
        background-color: #14a5eb;
        color: #f8f8ff;
        border: none;
    }
}