@import "utils/utils", "utils/header", "utils/footer";

@include basic-settings;

/* Section 1 - Advantages */

body{
  & section {
    @include display-flex-column;
    width: 90%;
    margin: 15% auto 0;
    padding: 0 7.5%;

    & h1 {
      color: $black-color;
      text-align: center;
      font-size: 24px;
      margin-bottom: 5%;
      padding-bottom: 5%;
      border-bottom: 1px solid $blue-color;
      text-transform: uppercase;
    }

    & h2{
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2.5%;
      padding-bottom: 2.5%;
      border-bottom: 1px solid $blue-color;
    }

    & p{
      font-size: 18px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    &.advantages{
      width: 100%;

      & p{
        font-size: 14px;
        letter-spacing: 1px;
        padding-bottom: 2.5%;
        margin-bottom: 2.5%;
      }
    }
  }
}
.advantage {
  margin-bottom: 10%;

  & img{
    display: block;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 10%;
  }
}


@media (orientation: portrait) and (min-width: 375px) {
  body{
    & section{
      padding: 0 5%;

      & h1{
        font-size: 26px;
      }

      & h2{
        font-size: 22px;
      }

      & p{
        font-size: 20px;
      }

      &.advantages p{
        font-size: 16px;
      }
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  body{
    & section{
      & h1{
        font-size: 34px;
      }

      & h2{
        font-size: 28px;
      }

      & p{
        font-size: 26px;
      }

      &.advantages p{
        font-size: 22px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 550px) {
  body{
    & section{
      & h1{
        font-size: 24px;
      }

      & h2{
        font-size: 22px;
      }

      & p{
        font-size: 20px;
      }

      &.advantages p{
        font-size: 18px;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  body {
    & section {
      & h1 {
        font-size: 30px;
      }

      & h2 {
        font-size: 28px;
      }

      & p {
        font-size: 22px;
      }

      &.advantages p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  body{
    & section{
      flex-direction: column;
      width: 100%;
      margin: 5% 0 0;
      padding: 5%;

      & h1{
        font-size: 38px;
      }

      & h2{
        font-size: 34px;
        padding-bottom: 5%;
        margin-bottom: 10%;
      }

      & p{
        font-size: 26px;
      }

      &.advantages{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    }
  }

  .advantage {
    flex-basis: 30%;

    & img{
      margin: 0;
      width: 100%;
      background-size: cover;
    }
  }

  .wrap-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
}

@media (min-width: 1300px) {
  body{
    section{
      width: 90%;
      margin: 0 auto;

      &.advantages {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .wrap-image {
    height: 350px;
  }
}

@media (min-width: 1600px) {
  body{
    section{
      width: 85%;
      margin: 0 auto;

      & h2{
        font-size: 36px;
      }

      & p{
        font-size: 28px;
      }

      &.advantages{
        width: 85%;
        margin: 0 auto;

        & p{
          font-size: 24px;
        }
      }
    }
  }

  .wrap-image {
    height: 400px;
  }
}

/* Section 2 - Zed graphics */

@mixin fixed-image($url){
  @include size(100%, 40vh);
  max-width: 1920px;
  background-image: url($url);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.zed-graphics {
  @include fixed-image('/images/others/zed.jpg')
}

/* Section 3 - Septs for order */

.order-steps h1 {
  border: none;
}

.number-of-step {
  @include size(50px, 50px);
  border-radius: 50%;
  background-color: $blue-color;
  margin: 0 auto 5%;
  line-height: 50px;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  color: $white-color;
  font-size: 30px;
}

.description-of-step {
  margin-bottom: 15%;
  font-size: 14px;
}


@media (orientation: portrait) and (min-width: 375px) {
  .description-of-step {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .description-of-step {
    font-size: 22px;
  }
}

@media (orientation: landscape) and (min-width: 550px) {
  .description-of-step {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  .description-of-step {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .order-steps h1 {
    text-align: left;
    padding-bottom: 2.5%;
    width: 100%;
    font-size: 28px;
    border-bottom: 1px solid $blue-color;
  }

  .steps {
    margin: 0;
    padding: 0;
  }

  .step {
    width: 70%;
    margin: 0 auto 2.5%;
    padding: 0;
    position: relative;
  }

  .text {
    width: 80%;
    margin: 0 auto;
  }

  .number-of-step {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .header-of-step {
    font-size: 20px;
    text-align: left;
    padding: 0;
    border: none;
    margin: 0 0 2.5%;
  }

  .description-of-step {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

/* Section 4 - Aatrox graphics */

.aatrox-graphics {
  @include fixed-image('/images/others/aatrox.jpg');
}

/* Section 5 - Support */

section.support {
  width: 100%;
  max-width: 1920px;
}

.text {
  @include display-flex-column;

  & h1{
    border: none;
    margin-bottom: 2.5%;
    padding: 0;
    font-size: 18px;

    &:nth-last-of-type(1) {
      margin-bottom: 5%;
    }
  }

  & h2{
    border: none;
    margin-bottom: 2.5%;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
  }

  & p{
    font-size: 14px;
    margin-bottom: 10%;
    font-style: italic;
  }
}

.buttons {
  @include display-flex-column;

  & a{
    @include button;
  }
}

@media (orientation: portrait) and (min-width: 375px) {
  .text {
    & h1{
      font-size: 20px;
    }

    & h2{
      font-size: 18px;
    }

    & p{
      font-size: 16px;
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .text {
    & h1{
      font-size: 26px;
    }

    & h2{
      font-size: 22px;
    }

    & p{
      font-size: 18px;
    }
  }

  .buttons {
    flex-direction: row;

    & a{
      font-size: 24px;
      flex-basis: 40%;
    }
  }
}

@media (orientation: landscape) and (min-width: 550px) {
  .text {
    & h1{
      font-size: 20px;
    }

    & h2{
      font-size: 18px;
    }

    & p{
      font-size: 16px;
    }
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  .text {
    & h1{
      font-size: 24px;
    }

    & h2{
      font-size: 20px;
    }

    & p{
      font-size: 18px;
    }
  }

  .buttons {
    flex-direction: row;

    & a{
      font-size: 22px;
      flex-basis: 40%;
    }
  }
}

@media (min-width: 1024px) {
  .text {
    & h1{
      font-size: 26px;
    }

    & h2{
      font-size: 22px;
    }

    & p{
      font-size: 20px;
    }
  }

  .buttons a:hover {
    @include button-hover
  }
}

@media (min-width: 1300px) {
  .text {
    & h1{
      font-size: 30px;
    }

    & h2{
      font-size: 24px;
    }

    & p{
      font-size: 20px;
    }
  }

  .buttons a {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .text {
    & h1{
      font-size: 32px;
    }

    & h2{
      font-size: 26px;
    }

    & p{
      font-size: 22px;
    }
  }

  .buttons a {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
  }
}
