/* Section 1 - Login form */

section.login-form {
    background-color: #F6F6F6;
    padding: 20% 10%;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

section.login-form div.wrap {
    padding: 5% 10%;
    background-color: white;
    height: 100%;
    border: 10px white solid;
    border-radius: 10%;
}

section.login-form div.wrap h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    padding: 10% 0;
}

section.login-form div.wrap label {
    font-size: 14px;
    margin-left: 5%;
}

section.login-form div.wrap p {
    font-size: 14px;
    text-align: center;
    padding: 15% 0 10%;
}

section.login-form div.wrap p a {
    text-decoration: none;
    color: #14a5eb;
    border-bottom: 1px solid #14a5eb;
    letter-spacing: 0.5px;
    margin: 0 1%;
}

section.login-form div.wrap input.form-control {
    width: 100%;
    height: 40px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid black;
}

section.login-form div.wrap div.input {
    width: 90%;
    margin: 2.5% auto 5%;
    position: relative;
}

section.login-form div.wrap span {
    position: absolute;
    right: 5%;
    bottom: 50%;
    font-size: 26px;
    transform: translateY(50%);
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
}

section.login-form div.wrap input.button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
    height: 50px;
    margin: 10% auto 0;
    line-height: 50px;
    font-size: 20px;
    color: #181819;
    border-radius: 25px;
    border: 2px solid;
    text-align: center;
    background-color: white;
}

@media (orientation: portrait) and (min-width: 768px) {

    section.login-form div.wrap {
        padding: 2.5% 5%;
    }

    section.login-form div.wrap input.form-control {
        height: 50px;
        font-size: 18px;
    }

    section.login-form div.wrap div.input {
        width: 80%;
    }

    section.login-form div.wrap label {
        margin-left: 10%;
        font-size: 18px;
    }

    section.login-form {
        padding: 10% 5%;
    }

    section.login-form div.wrap h1 {
        padding: 5% 0;
        font-size: 26px;
    }

    section.login-form div.wrap input.button {
        margin: 2.5% auto 0;
        width: 65%;
        font-size: 28px;
    }

    section.login-form div.wrap p {
        padding: 7.5% 0 5%;
        font-size: 18px;
    }
}


@media (orientation: landscape) and (min-width: 550px) {

    section.login-form div.wrap input.form-control {
        height: 45px;
    }

    section.login-form div.wrap div.input {
        width: 85%;
    }

    section.login-form div.wrap label {
        margin-left: 7.5%;
    }

    section.login-form {
        padding: 10% 5%;
    }

    section.login-form div.wrap h1 {
        padding: 5% 0;
    }

    section.login-form div.wrap input.button {
        margin: 5% auto 0;
        width: 70%;
    }

    section.login-form div.wrap p {
        padding: 7.5% 0 5%;
    }
}

@media (min-width: 1024px) {

    section.login-form div.wrap p a:hover {
        border: none;
    }

    section.login-form div.wrap h1 {
        font-size: 28px;
    }

    section.login-form div.wrap p {
        font-size: 18px;
    }

    section.login-form div.wrap label {
        font-size: 18px;
    }

    section.login-form {
        padding: 5% 15%;
    }

    section.login-form div.wrap input.button {
        margin: 2.5% auto 0;
        width: 60%;
        font-size: 26px;
        transition: 0.3s linear;
    }

    section.login-form div.wrap input.button:hover {
        background-color: #14a5eb;
        color: #f8f8ff;
        border: none;
        cursor: pointer;
    }

    section.login-form div.wrap {
        padding: 2.5% 10%;
    }

    section.login-form div.wrap input.form-control {
        margin: 1.25% auto 2.5%;
        font-size: 18px;
        transition: 0.2s linear;
    }

    section.login-form div.wrap input.form-control:focus {
        border: 1.5px solid #14a5eb;
    }
}

@media (min-width: 1300px) {
    section.login-form div.wrap h1 {
        font-size: 32px;
    }

    section.login-form {
        padding: 5% 25%;
    }

    section.login-form div.wrap input.form-control {
        font-size: 20px;
    }

    section.login-form div.wrap input.button {
        font-size: 30px;
    }
}

@media (min-width: 1300px) {
    section.login-form {
        padding: 5% 30%;
    }
}