/* main - order */

main.division {
    background-color: #F6F6F6;
    padding: 20% 10%;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

main.division section {
    padding: 5% 0;
    background-color: white;
    height: 100%;
    border: 10px white solid;
    border-radius: 10%;
    margin-bottom: 15%;

}

main.division section div.wrap-image {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

main.division h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    padding: 10% 0;
}

main.division h3 {
    padding-left: 0%;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    line-height: 40px;
}

main.division h3.test {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main.division section.current h3,
main.division section.desired h3,
main.division section.account-info h3 {
    margin-left: 5%;
}

main.division select.custom-select {
    width: 90%;
    padding-left: 5%;
    margin: 2.5% 0 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 35px;
    overflow: scroll;
    font-size: 18px;
}

section.price select.custom-select {
    width: 75%;
    line-height: 35px;
}

section.price div.wrap {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 7.5%;
}

section.price div.wrap div.form-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#division {
    flex-direction: column;
}

section.price div.wrap p.price {
    line-height: 40px;
}

section.price div.wrap div {
    display: flex;
}

section.price div.wrap p.text {
    flex-direction: row;
    width: 75%;
    line-height: 40px;
    font-size: 14px;
}

section.price div.wrap p.price {
    width: 25%;
    text-align: right;
}

section.price div.wrap .total-price {
    width: 75%;
}

main.division section.price h2 {
    padding: 2.5% 0 20%;
}

main.division section.account-info input,
main.division section.account-info textarea {
    width: 90%;
    padding-left: 5%;
    margin: 2.5% 0 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

main.division section.account-info input {
    height: 40px;
}

main.division section.account-info textarea {
    height: 80px;
    padding-top: 5px;
    min-width: 90%;
    max-width: 90%;
    min-height: 80px;
    max-height: 160px;
}

main.division input.btn-sm {
    display: block;
    text-transform: uppercase;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 20px;
    color: #181819;
    border-radius: 25px;
    border: 2px solid;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s linear;
}

.error{
    color: red;
}

@media (orientation: portrait) and (min-width: 375px) {
    main.division h2 {
        font-size: 26px;
        padding: 2.5% 0 10% 0;
    }

    main.division h3 {
        font-size: 20px;
    }

    section.price div.wrap p.text,
    section.price div.wrap p.price {
        font-size: 16px;
    }

    main.division section.price select.custom-select {
        width: 60%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    main.division {
        padding: 10% 15%;
    }

    main.division h2 {
        font-size: 34px;
        padding: 2.5% 0 10% 0;
    }

    main.division h3 {
        font-size: 26px;
    }

    main.division section.current h3,
    main.division section.desired h3,
    main.division section.account-info h3 {
        margin-left: 20%;
    }

    section.price div.wrap p.text,
    section.price div.wrap p.price {
        font-size: 22px;
    }

    main.division select.custom-select {
        width: 60%;
        height: 65px;
    }

    main.division section.price h2 {
        padding: 2.5% 0 15%;
    }

    main.division section.price select.custom-select {
        width: 50%;
        height: 55px;
    }
}


@media (orientation: landscape) and (min-width: 550px) {

    main.division {
        padding: 15% 10% 5%;
    }

    main.division section {
        padding: 5% 2.5%;
    }

    main.division section.price h2 {
        font-size: 24px;
    }

    main.division h3 {
        font-size: 18px;
    }

    main.division section.current h2,
    main.division section.desired h2,
    main.division section.account-info h2 {
        padding: 2.5% 0 5%;
    }

    main.division section.current h3,
    main.division section.desired h3,
    main.division section.account-info h3 {
        margin-left: 12.5%;
    }

    main.division select.custom-select {
        width: 75%;
        height: 40px;
    }

    section.price div.wrap p.text,
    section.price div.wrap p.price {
        font-size: 16px;
    }
}

@media (orientation: landscape) and (min-width: 730px) {
    main.division {
        padding: 12.5% 15% 5%;
    }

    main.division h2 {
        font-size: 28px;
    }

    main.division h3 {
        font-size: 22px;
    }

    section.price div.wrap p.text,
    section.price div.wrap p.price {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    main.division {
        padding: 12.5% 40% 5% 10%;
        position: relative;
    }

    main.division section.price {
        position: absolute;
        top: 0;
        margin-top: 12.5%;
        right: 2.5%;
        width: auto;
        height: auto;
    }

    main.division input.btn-sm {
        width: 50%;
    }

    main.division input.btn-sm:hover {
        background-color: #14a5eb;
        color: #F8F8F8;
    }
}

@media (min-width: 1300px) {
    main.division {
        padding: 12.5% 50% 5% 5%;
    }

    main.division section.price {
        right: 7.5%;
        width: 25%;
    }
}

@media (min-width: 1600px) {
    main.division {
        padding: 12.5% 55% 5% 5%;
    }

    main.division section.price {
        right: 10%;
        width: 30%;
    }
}