<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head>
        <title>Order division</title>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10%;
            }
        </style>
        <link type="text/css" rel="stylesheet" th:href="@{/style/bootstrap.min.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/drop-down-nav.css}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/">Boosting</a>
                    </li>
                    <li class="nav-item" sec:authorize="${isAnonymous()}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropbtn" href="/admin">Admin resources</a>
                        <div class="dropdown-content">
                            <a href="/admin/orders">List of orders</a>
                            <a href="/admin/users">List of users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="/boost" sec:authorize="hasRole('BOOSTER')">Booster resources</a>
                        <div class="dropdown-content">
                            <a href="/boost/orders">List of free orders</a>
                            <a href="/boost/current">Current boost</a>
                            <a href="/boost/completed">Done order boosts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="#" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Account</a>
                        <div class="dropdown-content">
                            <a href="/account/change/password">Change Password</a>
                            <a href="/account/change/email">Change Email</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/message" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">Messages</a>
                    </li>
                </ul>
                <div sec:authorize="${isFullyAuthenticated()}">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary btn-sm" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </nav>
        <div th:text="${incorrectLeagueChoice}"></div>
        <form th:action="@{/order2/league/information}" th:object="${orderBoost2}">
            <div class="form-group">
                <select class="custom-select" th:field="*{currentLeague.tier}" id="currentTier">
                    <option th:each="currentTier : ${tiers}" th:value="${currentTier.tier}" th:text="${currentTier.tier}"></option>
                </select>
            </div>
            <div class="form-group">
                <select class="custom-select" th:field="*{currentLeague.division}" id="currentDivision">
                    <option th:each="currentDivision : ${divisions}" th:value="${currentDivision.division}" th:text="${currentDivision.division}"></option>
                </select>
            </div>
            <div class="form-group">
                <select class="custom-select" th:field="*{currentLeague.points}" id="currentPoints">
                    <option th:each="currentPoints : ${points}" th:value="${currentPoints.points}" th:text="${currentPoints.points}"></option>
                </select>
            </div>


            <div class="form-group">
                <select class="custom-select" th:field="*{destinationLeague.tier}" id="destinationTier">
                    <option th:each="destinationTier : ${tiers}" th:value="${destinationTier.tier}" th:text="${destinationTier.tier}"></option>
                </select>
            </div>
            <div class="form-group">
                <select class="custom-select" th:field="*{destinationLeague.division}" id="destinationDivision">
                    <option th:each="destinationDivision : ${divisions}" th:value="${destinationDivision.division}" th:text="${destinationDivision.division}"></option>
                </select>
            </div>

            <input class="btn btn-info btn-sm" type="submit" value="Submit"/>
        </form>
    </body>
</html>