<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dancing+Script:600|Roboto&display=swap&subset=latin-ext" rel="stylesheet">
        <link type="text/css" rel="stylesheet" th:href="@{/style/utils/form-style.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/order/order.css}" />
    </head>
    <body>
        <nav class="background">
            <aside class="header-aside">
                <nav class="navigation">
                    <ul id="main-menu">
                        <li class="main-menu-li">
                            <a href="/" class="main-menu-link">Home</a>
                        </li>

                        <li id="boosting" class="main-menu-li">
                            <a href="/order" class="main-menu-link">Boosting</a>

                            <nav sec:authorize="hasAnyRole('USER','BOOSTER')" class="sub-menu-wrap">
                                <ul class="sub-menu">
                                    <li class="back-to-main-menu sub-menu-li">
                                        <a class="sub-menu-link">Back</a>
                                        <i class="fas fa-chevron-left"></i>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/order/preview" class="sub-menu-link">Overview</a>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a class="sub-menu-link">History</a>
                                    </li>
                                </ul>
                            </nav>
                        </li>

                        <li class="main-menu-li">
                            <a href="/booster-application" class="main-menu-link">Join our team</a>
                        </li>

                        <li class="main-menu-li">
                            <a href="/contact-us" class="main-menu-link">Contact us</a>
                        </li>

                        <li class="main-menu-li">
                            <a href="#" class="main-menu-link">F.A.Q</a>
                        </li>

                        <li sec:authorize="${isAnonymous()}" class="main-menu-li">
                            <a href="/login" class="main-menu-link">Login</a>
                        </li>

                        <li id="account" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')" class="main-menu-li">
                            <a class="move-right main-menu-link">
                                <div class="account-wrap">
                                    <div>Account</div>

                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </a>

                            <nav class="sub-menu-wrap">
                                <ul class="sub-menu">
                                    <li class="back-to-main-menu sub-menu-li">
                                        <a class="sub-menu-link">Back</a>

                                        <i class="fas fa-chevron-left"></i>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/account/change/password" class="sub-menu-link">Change password</a>
                                    </li>

                                    <li class="sub-menu-li">
                                        <a href="/account/change/email" class="sub-menu-link">Change email</a>
                                    </li>

                                    <li sec:authorize="${isFullyAuthenticated()}" class="sub-menu-li">
                                        <form th:action="@{/logout}" method="post">
                                            <a class="sub-menu-link" >
                                                <input  type="submit" value="Logout" />
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </nav>
            </aside>

            <div class="burger">
                <i class="fas fa-bars show"></i>
                <i class="fas fa-times"></i>
            </div>
        </nav>

        <header class="order-header">
            <p>We believe that we are able to provide each of you with the rank you deserved.</p>
            <a href="/order">Boost Me</a>
        </header>

        <div th:if="${orderBoost != null}" id="login-notification" class="notification notification-error">
            <span class="close-button">&times;</span>
            <h3>Info!</h3>
            <p>You already have an order. Wait for its implementation and then place another order</p>
        </div>

        <main class="division">
            <form th:action="@{/order/new}" th:object="${orderBoost}" method="post">
                <section class="current">
                    <h2>Current Division</h2>
                    <div class="wrap-image">
                        <img src="../images/Iron/Iron4.png" alt="Current division image">
                    </div>
                    <div class="form-group">
                        <h3>Current Tier</h3>
                        <select id="currentTier" class="custom-select" th:field="*{currentLeague.tier}">
                            <option th:each="currentTier : ${tiers}" th:value="${currentTier}"
                                    th:text="${currentTier.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Current Division</h3>
                        <select id="currentDivision" class="custom-select" th:field="*{currentLeague.division}">
                            <option th:each="currentDivision : ${divisions}" th:value="${currentDivision}"
                                    th:text="${currentDivision.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Current Points</h3>
                        <select id="currentPoints" class="custom-select" th:field="*{currentLeague.points}">
                            <option th:each="currentPoints : ${points}" th:value="${currentPoints}"
                                    th:text="${currentPoints.name}"></option>
                        </select>
                    </div>
                </section>
                <section class="desired">
                    <h2>Desired Division</h2>
                    <div class="wrap-image">
                        <img src="../images/Bronze/Bronze4.png" alt="Desired division image">
                    </div>
                    <div class="form-group">
                        <h3>Desired Tier</h3>
                        <select id="destinationTier" class="custom-select" th:field="*{destinationLeague.tier}">
                            <option th:each="destinationTier : ${tiers}" th:value="${destinationTier}"
                                    th:text="${destinationTier.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Desired Division</h3>
                        <select id="destinationDivision" class="custom-select" th:field="*{destinationLeague.division}">
                            <option th:each="destinationDivision : ${divisions}" th:value="${destinationDivision}"
                                    th:text="${destinationDivision.name}"></option>
                        </select>
                    </div>
                </section>
                <section class="account-info">
                    <h2>Account information</h2>
                    <div class="form-group">
                        <input id="lolUsername" th:field="*{accountDetails.lolUsername}" type="text" class="form-control" required="">
                        <label for="lolUsername">Enter your username</label>
                        <span class="error" th:if="${#fields.hasErrors('accountDetails.lolUsername')}" th:errors="*{accountDetails.lolUsername}"></span>
                    </div>
                    <div class="form-group">
                        <input id="lolPassword" th:field="*{accountDetails.lolPassword}" type="password" class="form-control" required="">
                        <label for="lolPassword">Enter your password</label>
                        <span class="error" th:if="${#fields.hasErrors('accountDetails.lolPassword')}" th:errors="*{accountDetails.lolPassword}"></span>
                    </div>
                    <div class="form-group">
                        <textarea id="noteToBooster" th:field="*{noteToBooster}" class="form-control" required=""></textarea>
                        <label for="noteToBooster">Enter your note to booster</label>
                    </div>
                </section>
                <section class="price">
                    <h2>Your Order</h2>
                    <div class="wrap">
                        <h3 class="server">Server:</h3>
                        <div class="form-group">
                            <select class="custom-select" th:field="*{accountDetails.region}" id="region">
                                <option th:each="region : ${regions}" th:value="${region}" th:text="${region}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap">
                        <h3 class="lp-gain">LP gain per win:</h3>
                        <div class="form-group">
                            <select id="LPGainPerWin" class="custom-select" >
                                <option th:each="LP : ${LPGainPerWin}" th:value="${LP}" th:text="${LP.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap" id="division">
                        <h3>Solo Division Boost:</h3>
                        <div>
                            <p class="text">5 vs 5 Ranked Solo/Duo:</p>
                            <p class="price">60</p>
                        </div>
                        <p class="text resume-text"></p>
                    </div>
                    <div class="wrap">
                        <h3>Extras:</h3>
                    </div>
                    <div class="wrap">
                        <h3 class="total-price">Total: </h3>
                        <p class="price">60</p>
                    </div>
                </section>
                <input class="btn-sm" type="submit" th:disabled="${whetherUserHasOrder}" value="Place order" />
            </form>
        </main>

        <footer>
            <div class="wrap">
                <div class="text">
                    <h1>Boosting</h1>
                </div>
                <nav class="footer-navigation">
                    <div class="customer">
                        <h2>Customer</h2>
                        <a href="/order">Order Now</a>
                        <a href="/booster-application">Join Our Team</a>
                    </div>
                    <div class="pages">
                        <h2>Pages</h2>
                        <a href="#">F.A.Q.</a>
                        <a href="/contact-us">Contact Us</a>
                        <a href="#">Terms And Conditions</a>
                    </div>
                </nav>
            </div>
        </footer>

        <script src="/js/navigation/mobile.js"></script>
        <script src="/js/navigation/desktop.js"></script>
        <script src="/js/image-swaping.js"></script>
        <script src="/js/notifications.js"></script>
    </body>
</html>