<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order preview</title>
        <link type="text/css" rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto&display=swap&subset=latin-ext"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script:600&display=swap" rel="stylesheet">

        <link type="text/css" rel="stylesheet" th:href="@{/style/header.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/order-preview-style.css}" />
        <link type="text/css" rel="stylesheet" th:href="@{/style/footer.css}" />
    </head>
    <body>
        <nav class="background">
            <aside class="header-aside">
                <nav class="navigation">
                    <ul id="main-menu">
                        <li>
                            <a href="/">
                                <div class="height">Home</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/order">
                                <div class="height">Boosting</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/booster-application">
                                <div class="height">Join our team</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/contact-us">
                                <div class="height">Contact us</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="height">F.A.Q</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li sec:authorize="${isAnonymous()}">
                            <a href="/login">
                                <div class="height">Login</div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li id="account" sec:authorize="hasAnyRole('USER','BOOSTER','ADMIN')">
                            <a class="move-right">
                                <div class="account-wrap">
                                    <div class="height">Account</div>
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="border">
                                    <div></div>
                                </div>
                            </a>
                            <nav id="sub-menu-wrap" class="sub-menu-wrap">
                                <div id="sub-menu" class="sub-menu">
                                    <ul>
                                        <li class="back-to-main-menu">
                                            <a>Back</a>
                                            <i class="fas fa-chevron-left"></i>
                                        </li>
                                        <li>
                                            <a href="/account/change/password">Change password</a>
                                        </li>
                                        <li>
                                            <a href="/account/change/email">Change email</a>
                                        </li>
                                        <li sec:authorize="${isFullyAuthenticated()}">
                                            <form th:action="@{/logout}" method="post">
                                                <a class="height">
                                                    <input  type="submit" value="Logout" />
                                                </a>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="burger">
                <i class="fas fa-bars show"></i>
                <i class="fas fa-times"></i>
            </div>
        </nav>

        <header class="order-header">
            <p>We believe that we are able to provide each of you with the rank you deserved.</p>
            <a href="/order">Boost Me</a>
        </header>

        <main id="order-preview">
            <!--
            <section id="order-not-available">
                <p>You do not have any ongoing orders</p>
            </section>
            -->
            <section id="order">
                <section class="tiers">
                    <div class="started-tier">
                        <h2>Started tier</h2>

                        <div class="image">
                            <img src="../images/Silver/Silver1.png" alt="Started tier image">
                        </div>

                        <p class="tier-division">Silver I</p>
                    </div>

                    <div class="current-tier">
                        <h2>Current tier</h2>

                        <div class="image">
                            <img src="../images/Gold/Gold1.png" alt="Current tier image">
                        </div>

                        <p class="tier-division">Gold I <span id="league-points">30 LP</span></p>
                    </div>

                    <div class="desire-tier">
                        <h2>Desire tier</h2>

                        <div class="image">
                            <img src="../images/Platinum/Platinum1.png" alt="Desire tier image">
                        </div>

                        <p class="tier-division">Platinum I</p>
                    </div>
                </section>

                <section class="boosting-details">
                    <div id="account-name">
                        <p>Account name</p>
                        <p>xvolerx</p>
                    </div>

                    <div id="price">
                        <p>Price</p>
                        <p>30 PLN</p>
                    </div>

                    <div id="order-status">
                        <p>Order status</p>
                        <p>Preparing</p>
                    </div>

                    <div id="date-of-purchase">
                        <p>Date of purchase</p>
                        <p>30.03.2020</p>
                    </div>

                    <div id="estimated-date-of-order-fulfillment">
                        <p>Expected date of completion</p>
                        <p>05.04.2020</p>
                    </div>
                </section>
            </section>

            <aside id="conversation">
                <header id="conversation-name">
                    <p>Message booster</p>
                    <p>xvolerx</p>
                </header>

                <main id="messages">
                    <p>Wiadomość 1</p>
                    <p>Wiadomość 2</p>
                    <p>Wiadomość 3</p>
                </main>

                <section id="reply">
                    <input placeholder="Your message"/>
                    <i class="fas fa-reply"></i>
                </section>
            </aside>
        </main>

        <footer>
            <div class="wrap">
                <div class="text">
                    <h1>Boosting</h1>
                </div>
                <nav class="footer-navigation">
                    <div class="customer">
                        <h2>Customer</h2>
                        <a href="/order">Order Now</a>
                        <a href="/booster-application">Join Our Team</a>
                    </div>
                    <div class="pages">
                        <h2>Pages</h2>
                        <a href="#">F.A.Q.</a>
                        <a href="/contact-us">Contact Us</a>
                        <a href="#">Terms And Conditions</a>
                    </div>
                </nav>
            </div>
        </footer>

        <script src="/js/navigation-animation-mobile.js"></script>
        <script src="/js/navigation-animation-desktop.js"></script>
    </body>
</html>