@import "../utils/utils" , "../utils/header", "../utils/footer";

@include basic-settings;

#free-orders{
  @include main;

  & .free-order{
    @include cart(5%);
    position: relative;
    
    & h1{
      text-align: center;
    }

    & .show-details{
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 10%;

      & .fas{
        display: block;
        font-size: 22px;
      }
    }

    & .images{
      display: flex;

      & .wrap-image{
        & img{
          max-width:100%;
        }

        & .league{
          text-align: center;
        }
      }

      & .right-arrow{
        & span{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }

    & .region,
    & .price{
      display: flex;

      & p{
        flex-grow: 1;
        margin-top: 5%;
      }
    }
  }
}