@import "../utils/utils" , "../utils/header", "../utils/footer";

/* main - order */

.division {
  @include main;

  & input.btn-sm {
    @include button;
    margin-top: 5%;
  }

  & .league-info{
    display: flex;
    flex-wrap: wrap;
  }

  & .form-group{
    & ul{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;

      & li{
        flex-basis: 50%;
        display: flex;
        justify-content: center;

        & input{
          height: 100%;
          width: 20px;
          font-size: 20px;
          margin-right: 5%;
        }

        & label{
          display: flex;
          align-items: center;
        }
      }
    }
  }

  & section {
    padding: 5% 0;
    background-color: white;
    height: 100%;
    border: 10px white solid;
    border-radius: 10%;
    margin-bottom: 15%;

    & div.wrap-image{
      display: flex;
      justify-content: center;
    }
  }

  & h2 {
    @include h1;
  }

  & h3 {
    padding-left: 0;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    line-height: 40px;

    & .server,
    & .lp-gain{
      @include display-flex-column;
      justify-content: space-around;
    }
  }
}

#division {
  flex-direction: column;
}

.price{
  & div.wrap{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 7.5%;

    & p.price {
      line-height: 40px;
      width: 25%;
      text-align: right;
    }
  }

  & h2 {
    padding: 2.5% 0 20%;
  }

  & .extras{
    display: flex;
    flex-direction: column;

    & label{
      text-transform: uppercase;
    }
  }
}

@media (orientation: portrait) and (min-width: 375px) {
  .division {
    & h2 {
      font-size: 26px;
      padding: 2.5% 0 10% 0;
    }
    & h3 {
      font-size: 20px;
    }

    & div.wrap p.text,
    & div.wrap p.total-costs {
      font-size: 16px;
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .division{
    padding: 10% 15%;

    & h2 {
      font-size: 34px;
      padding: 2.5% 0 10% 0;
    }

    & h3 {
      font-size: 26px;
    }

    & .price h2 {
      padding: 2.5% 0 15%;
    }
  }

  p.text,
  p.total-costs {
    font-size: 22px;
  }
}

@media (orientation: landscape) and (min-width: 550px) {
  .division{
    padding: 15% 10% 5%;

    & section{
      padding: 5% 2.5%;
    }

    & h3 {
      font-size: 18px;
    }

    & .current h2,
    & .desired h2,
    & .account-info h2,
    & .price h2{
      padding: 2.5% 0 5%;
    }
  }

  p.text,
  p.total-costs {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  .division{
    padding: 12.5% 15% 5%;

    & h2 {
      font-size: 28px;
    }

    & h3 {
      font-size: 22px;
    }

    & .league-info{
      & h3{
        text-align: center;
      }
    }
  }

  p.text,
  p.total-costs {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .division {
    padding: 5% 55% 5% 5%;
    position: relative;

    & .price {
      position: absolute;
      top: 0;
      margin-top: 5%;
      right: 5%;
      width: 40%;
      height: auto;
    }

    & .select-wrap{
      display: flex;
      justify-content: center;
    }

    & .form-group{
      width: 50%;
    }

    & input.btn-sm:hover {
      @include button-hover;
    }
  }

  .account-info{
    & .form-group{
      width: 80%;
    }
  }

  select.custom-select{
    width: 75%;
  }
}

@media (min-width: 1600px) {
  .division{
    & .form-group {
      width: 40%;
    }
  }

  .account-info {
    & .form-group {
      width: 80%;
    }
  }
}

.stickToTopOrderResume{
  position: fixed !important;
  top: 3vh !important;
  transition: 0.3s;
}