<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Contact Us</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/contact-us.css}" />
    </head>
    <body layout:fragment="content">
        <section class="login-form">
            <div class="wrap">
                <h1>Contact form</h1>

                <form th:action="@{/contact-us/send}" th:object="${contact}" method="get">
                    <div class="form-group">
                        <input id="name" th:field="*{name}" type="text" class="form-control" required="">
                        <label class="animated-label" for="name">Name</label>
                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>

                    <div class="form-group">
                        <input id="email" th:field="*{email}" type="text" class="form-control" required="">
                        <label class="animated-label" for="email">Email</label>
                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <div class="form-group">
                        <input id="subject" th:field="*{subject}" type="text" class="form-control" required="">
                        <label class="animated-label" for="subject">Subject</label>
                        <p class="error" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></p>
                    </div>

                    <div class="form-group">
                        <textarea id="question" th:field="*{question}" type="text" class="form-control" required=""></textarea>
                        <label class="animated-label" for="question">Question</label>
                        <p class="error" th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></p>
                    </div>

                    <input class="button" type="submit" value="Send" />
                </form>
            </div>
        </section>
    </body>
</html>