<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>Booster application</title>
        <link type="text/css" rel="stylesheet" th:href="@{/style/booster-application/booster-application.css}" />
    </head>
    <body layout:fragment="content">
        <section class="advantages">
            <div class="advantage">
                <div class="wrap-image">
                    <img src="../images/others/dolar.jpg" alt="">
                </div>

                <div class="text">
                    <h2>high pay % cuts</h2>
                    <p>We offer 50-60% cuts for ¾ of our team, this is a very good pay cut compared to other boosting
                        websites due to our competitive pricing.</p>
                </div>
            </div>

            <div class="advantage">
                <div class="wrap-image">
                    <img src="../images/others/communicaiton.jpg" alt="">
                </div>

                <div class="text">
                    <h2>friendly community</h2>
                    <p>We have a team of very friendly boosters and coaches, we operate over Discord by contacting one
                        another and create discussions everyday, making your team experience cooperative.</p>
                </div>
            </div>

            <div class="advantage">
                <div class="wrap-image">
                    <img src="../images/others/no-late-payments.jpg" alt="">
                </div>

                <div class="text">
                    <h2>no late payments</h2>
                    <p>Payments are always made bi-weekly, although money can be requested earlier at a price of a small
                        deduction. Payments are always on-time and sent in Friends and Family without any extra tax
                        deductions or fees asides from the PayPal one.</p>
                </div>
            </div>

            <div class="advantage">
                <div class="wrap-image">
                    <img src="../images/others/reputation.jpg" alt="">
                </div>

                <div class="text">
                    <h2>good reputation</h2>
                    <p>Being a part of our team isn’t easy, we only hire the best of the best, so joining our team will give
                        you a good reputation as a player and booster for your skill. You can use the experience as a Job
                        Experience for future resumes.</p>
                </div>
            </div>
        </section>

        <section class="requirements">
            <h1>Our requirements are:</h1>
            <div class="wrap">
                <div class="booster">
                    <h2>Boosters</h2>
                    <p class="requirement">Diamond1 or higher</p>
                    <p class="requirement">Mature Behaviour</p>
                    <p class="requirement">Fluent in English (Verbal and Text)</p>
                    <p class="requirement">At least 100 honor on account</p>
                </div>

                <div class="junior-booster">
                    <h2>Junior boosters</h2>
                    <p class="requirement">Diamond 5 – Diamond 2</p>
                    <p class="requirement">Mature Behaviour</p>
                    <p class="requirement">Fluent in English (Verbal and Text)</p>
                    <p class="requirement">At least 100 honor on account</p>

                    <div class="restrictions">
                        <h3>Restrictions:</h3>
                        <p>Payout is equals to 80% of usual boosters.</p>
                        <p>Can’t boost above Platinum 3.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="login-form">
            <div class="wrap">
                <h1>Booster application</h1>
                <form method="post" th:action="@{/booster-application}" th:object="${boosterApplication}">
                    <div class="form-group">
                        <input id="skype" type="text" class="form-control" th:field="*{skype}" required="">
                        <label class="animated-label" for="skype">Skype</label>
                        <p class="error" th:if="${#fields.hasErrors('skype')}" th:errors="*{skype}"></p>
                    </div>

                    <div class="form-group">
                        <input id="discord" type="text" class="form-control" th:field="*{discord}" required="">
                        <label class="animated-label" for="discord">Discord</label>
                        <p class="error" th:if="${#fields.hasErrors('discord')}" th:errors="*{discord}"></p>
                    </div>

                    <div class="form-group">
                        <input id="email" type="text" class="form-control" th:field="*{email}" required="">
                        <label class="animated-label" for="email">E-mail</label>
                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <div class="form-group">
                        <input id="opgg" type="text" class="form-control" th:field="*{opgg}" required="">
                        <label class="animated-label" for="opgg">OP.GG</label>
                        <p class="error" th:if="${#fields.hasErrors('opgg')}" th:errors="*{opgg}"></p>
                    </div>

                    <div class="form-group select">
                        <select class="custom-select" th:field="*{region}" id="region">
                            <option th:each="region : ${regions}" th:value="${region}" th:text="${region}"></option>
                        </select>
                    </div>

                    <div class="form-group select">
                        <select class="custom-select" th:field="*{leagueRank}" id="rank" >
                            <option value="Diamond 4" >Diamond IV</option>
                            <option value="Diamond 3" >Diamond III</option>
                            <option value="Diamond 2" >Diamond II</option>
                            <option value="Diamond 1" >Diamond I</option>
                            <option value="Master">Master</option>
                            <option value="Grandmaster">Grandmaster</option>
                            <option value="Challenger">Challenger</option>
                        </select>
                    </div>

                    <div class="form-group select">
                        <select class="custom-select" th:field="*{averageNumberOfHoursPlayedDaily}">
                            <option value="Less then 3">Less then 3</option>
                            <option value="3-4">3-4</option>
                            <option value="5-6">5-6</option>
                            <option value="7-8">7-8</option>
                            <option value="More then 8">More then 8</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input id="age" class="form-control" type="number" th:field="*{age}" required="">
                        <label class="animated-label" for="age">Age</label>
                        <p class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                    </div>

                    <div class="form-group">
                        <input id="country" class="form-control" type="text" th:field="*{country}" required="">
                        <label class="animated-label" for="country">Country</label>
                        <p class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
                    </div>

                    <div class="form-group">
                        <input id="contact" class="form-control" type="text" th:field="*{bestFormOfContact}" required="">
                        <label class="animated-label" for="contact">Best schedule for future contact</label>
                        <p class="error" th:if="${#fields.hasErrors('bestFormOfContact')}" th:errors="*{bestFormOfContact}"></p>
                    </div>

                    <div class="form-group">
                        <textarea id="description" class="form-control" th:field="*{motivation}" required=""></textarea>
                        <label class="animated-label" for="description">Tell us about your booster experience and why you should work with us</label>
                        <p class="error" th:if="${#fields.hasErrors('motivation')}" th:errors="*{motivation}"></p>
                    </div>

                    <input class="button" type="submit" value="Submit">
                </form>
            </div>
        </section>
    </body>
</html>